<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ "" | absLangURL }}">
            <span class="site-title is-size-4">{{ .Site.Title }}</span>
        </a>
        <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>
    <div class="navbar-menu" id="nav-menu">
            <div class="navbar-start">
                {{- range .Site.Menus.main.ByWeight -}}
                    {{- if .HasChildren -}}
                    <div class="navbar-item has-dropdown">
                        <a class="navbar-link" title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
                        <div class="navbar-dropdown">
                            {{- range .Children -}}
                                <a class="navbar-link" title="{{ .Name }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                            {{- end -}}
                        </div>
                    </div>
                    {{- else -}}
                    <a class="navbar-item" title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
                    {{- end -}}
                {{- end -}}
            </div>
            <div class="navbar-end snipcart-summary">
                <a href="#" class="navbar-item snipcart-user-profile">Customer Dashboard</a>
                <a href="#" class="navbar-item snipcart-checkout">View Cart</a>
                <a href="#" class="navbar-item snipcart-user-logout">Logout</a>
            </div>
<!-- snipcart assets -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="
  {{- if eq (getenv "HUGO_ENV") "development" -}}
  {{ .Site.Params.snipcart_test_api_key }}
  {{- else -}}
  {{ .Site.Params.snipcart_live_api_key }}
  {{- end -}}
"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    
    
    </div>
</nav>
